@media (min-width: 768px) {
  button {
    position: absolute;
    top: 920px;
    left: 312px;
    padding: 45px;
    border-radius: 100px;
    font-size: 45px;
    background-color: blue;
    color: white;
  }
  textarea {
    position: absolute;
    top: 460px;
    left: 220px;
    padding: 50px;
    font-size: 40px;
    border-radius: 50px;
    width: 450px;
    
  }
  #nome {
    position: absolute;
    top: 320px;
    left: 270px;
    font-size: 100px;
  }
  #sim {
    opacity: 0%;
    position: absolute;
    top: 1100px;
    left: 180px;
    font-size: 50px;
    color: #00FF00;
  }
}
